<section class="resume">
  <div class="container">
    <div class="title">

    </div>
    <span class="separator"></span>
    <div class="profile">

    </div>
    <div class="experience">
      <h2>Professional Experience WIP</h2>
      <div class="current-job">
        <h2>Citigroup or TCS</h2>
        <h4>Software Engineer Consultant</h4>
        <h5>July 2018 to <span class="present">Present</span></h5>
        <div class="description">
          <!-- <p>Primarily developed application features and enhancements 
            for 30+ retail partners who are partnered with one of America's 
            biggest banking firms, generating 1.5 million daily users 
            and accounting for 10% of the company's income. 
          </p> -->
          <ul>
            <li>Primarily developed application features and enhancements for 30+ retail partners who are partnered with one of America's biggest banking firms, generating 1.5 million daily users and accounting for 10% of the company's income. </li>
            <li>Worked in a primarily Angular environment, assisted in writing user stories in Kanban software tools (primary Jira), using scrum development practices to meet every requirement.</li>
          </ul>
        </div>

      </div>
      <span class="separator"></span>
      <div class="past-jobs">
        <h2>Office of Research Commercialization @ Texas Tech University</h2>
        <h4>IP Analyst Intern</h4>
        <h5>July 2017 to February 2018</h5>
        <div class="description">
          <ul>
            <li>Reviewed patent applications and provided assessments to inventors and managers.</li>
            <li>Researched and produced Commercialization Plans of patents to licensing manager.</li>
          </ul>
        </div>
      </div>
      <span class="separator"></span>
      <div class="past-jobs">
        <h2>OneConnxt</h2>
        <h4>Independent Network Consultant</h4>
        <h5>June 2014 to November 2016</h5>
        <div class="description">
          <ul>
            <li>Provided Front Line support with alert and email review, working remotely from Texas.</li>
            <li>Trained by engineers to troubleshoot OneConnxt product for on-site clients.</li>
            <li>Contacted on-call engineers and given escalation call sheet if needed.</li>
            <li>Interacted with the CTO and other technicians to adjust shift times to accommodate personal schedules.</li>
          </ul>
        </div>
      </div>
      

    </div>
    <div class="projects">
      <h2>Projects</h2>


    </div>
    <div class="education">
      <h2>Education</h2>
      <div class="school-title">
        <h3>Texas Tech University, Rawls College of Business</h3>
        <h5>2016-2018</h5>
        <h4>Master of Business Administration - STEM</h4>
      </div>
      <span class="separator"></span>
      <div class="school-title">
        <h3>Texas Tech University, Whitacre College of Engineering</h3>
        <h5>2012-2016</h5>
        <h4>Bachelor of Science, Computer Engineering</h4>
      </div>
    </div>

  </div>

</section>