<footer class="footer">
  <div class="footer-content">
    <div class="contact-me">

    </div>
    <div class="footer-links-container">
      <a class="footer-link" href="https://twitter.com/jasonmamed" id="twitter" target="_blank" [innerHTML]="'Twitter'"></a>
      <a class="footer-link" href="https://www.linkedin.com/in/jasonmamed" id="linkedIn" target="_blank" [innerHTML]="'LinkedIn'"></a>
      <a class="footer-link" href="https://github.com/jmamed" id="github" target="_blank" [innerHTML]="'GitHub'"></a>
      <a class="footer-link" href="mailto:mamed.jason@gmail.com">Email Me</a>
    </div>
    <div class="widgets">
      <span id="twitter-widget"></span>
      <span id="page-like-widget"></span>
    </div>
    <!-- <div class="scroll-to-top" > -->
      <!-- [ngClass]="{'show-scrollTop': windowScrolled}" -->
      <!-- <button id="scroll-to-top" (click)="scrollTop()" [innerHTML]="'Scroll to top'">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div> -->
  </div>
</footer>