<footer class="footer">
  <div class="footer-content">
    <div class="contact-me">

    </div>
    <div class="footer-links-container">
      <a class="footer-link" href="https://twitter.com/jasonmamed" id="twitter" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a class="footer-link" href="https://www.linkedin.com/in/jasonmamed" id="linkedIn"
        target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a class="footer-link" href="https://github.com/jmamed" id="github" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a class="footer-link" href="#" id="secret" routerLink="/secret" routerLinkActive="active">
        <fa-icon [icon]="faDog"></fa-icon>
      </a>
      <a class="footer-link email" href="mailto:mamed.jason@gmail.com">Email Me
        <fa-icon [icon]="faPaperPlane"></fa-icon>
      </a>
    </div>
    <div class="widgets">
      <span id="twitter-widget"></span>
      <span id="page-like-widget"></span>
    </div>
    <!-- <div class="scroll-to-top" > -->
      <!-- [ngClass]="{'show-scrollTop': windowScrolled}" -->
      <!-- <button id="scroll-to-top" (click)="scrollTop()" [innerHTML]="'Scroll to top'">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div> -->
  </div>
</footer>