.boundary{
  width: 100%;
  background-color:#f1f1f1;
  height: auto;
  .header-area{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

  }
  .body-area{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  .footer-area{
    background-color: grey;
  }

}