<!--The content below is only a placeholder and can be replaced.-->
<div id="boundary" class="boundary">
  <div id="header-area" class="header-area">
    <header></header>
  </div>
  <div id="resume-area" class="body-area">
    <!-- *ngIf="resume" -->
    <resume></resume>
  </div>
  <div id="features-area"  class="body-area">
    <!-- *ngIf="features" -->
    <features></features>
  </div>
  <div id="footer-area" class="footer-area">
    <app-footer></app-footer>
  </div>
</div>


<router-outlet></router-outlet>
