.boundary{
  width: 100%;
  background-color: red;
  height: auto;
  .header-area{
    background-color: grey;
  }
  .body-area{
    background-color: grey;
  }
  .footer-area{
    background-color: grey;
  }

}