<div id="header" class="header">
  <div class="overview">
    <h1>Developer</h1>
    <h1>Jason Mamed</h1>
  </div>
  <div class="nav-container">
    <a class="nav-links" href="#" id="home"  routerLink="/resume" routerLinkActive="active" [innerHTML]="'Home'"></a>
    <a class="nav-links" href="#" id="About"  routerLink="/resume" routerLinkActive="active" [innerHTML]="'About'"></a>
    <a class="nav-links" href="#" id="features"  routerLink="/features" routerLinkActive="active" [innerHTML]="'Features'"></a>


  </div>
</div> 